---
title: Amber Weel
---

<!doctype html>
<html class="no-js" lang="{{ locale }}">
{% include "components/head.njk" %}
<body>

<div class="background1">
    <svg width="500" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FAFF00"
              d="M59.2,-39.6C74.5,-28,83.3,-3.5,79.5,20.1C75.7,43.7,59.3,66.4,40.6,69.8C22,73.2,1,57.3,-18.2,45.2C-37.5,33.1,-55.1,24.8,-58.1,12.9C-61.1,1,-49.5,-14.6,-37.3,-25.5C-25.2,-36.5,-12.6,-42.8,4.7,-46.5C21.9,-50.2,43.8,-51.3,59.2,-39.6Z"
              transform="translate(100 100)" style="padding-bottom: 200px;"/>
    </svg>
    <svg width="300" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="margin-left: 70vw;">
        <path fill="#FAFF00"
              d="M44,-29.5C50.3,-14.6,44,3.6,34.5,23.1C25.1,42.7,12.5,63.7,-6.7,67.6C-25.9,71.5,-51.9,58.2,-66.2,35.8C-80.6,13.4,-83.3,-18.2,-70.4,-37C-57.4,-55.8,-28.7,-62,-4.9,-59.1C18.9,-56.3,37.8,-44.5,44,-29.5Z"
              transform="translate(100 100)"/>
    </svg>
    <br>
    <svg width="400" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="margin-left: 20vw;">
        <path fill="#FAFF00"
              d="M44,-29.5C50.3,-14.6,44,3.6,34.5,23.1C25.1,42.7,12.5,63.7,-6.7,67.6C-25.9,71.5,-51.9,58.2,-66.2,35.8C-80.6,13.4,-83.3,-18.2,-70.4,-37C-57.4,-55.8,-28.7,-62,-4.9,-59.1C18.9,-56.3,37.8,-44.5,44,-29.5Z"
              transform="translate(100 100)"/>
    </svg>
</div>
<div>


    <div id="hero" class="grid-x grid-padding-x">
        <div class="cell show-for-large large-3"></div>
        <div class="cell small-12 large-6 hero">
            <div class="grid-x">
                <div class="cell small-6 text-right">
                    <a href="/">
                        <h1>Amber</h1>
                        <h1>Weel</h1>
                    </a>
                    <br>
                    <br>
                    <div class="top-menu">
                        <a href="/productieleider"><h3 class="{% if 'productieleider' in permalink %}active{% endif %}">Productieleider</h3>
                        </a>
                        <a href="/choreograaf"><h3 class="{% if 'choreograaf' in permalink %}active{% endif %}">Choreograaf</h3></a>
                        <a href="/dansdocent"><h3 class="{% if 'dansdocent' in permalink %}active{% endif %}">Dansdocent</h3></a>
                        <a href="/danser"><h3 class="{% if 'danser' in permalink %}active{% endif %}" style="margin-bottom: 2px;">
                            Danser</h3></a>
                    </div>
                </div>
                <div class="cell small-6 grid-x align-bottom">
                    <div class="text-right social-icons">
                        <a href="mailto:amberweel@gmail.com" target="_blank"><i class="fi-mail"></i></a>
                    <a href="https://www.instagram.com/amberjoyweel" target="_blank"><i class="fi-social-instagram"></i></a>
                    <a href="https://www.facebook.com/amberjoy.weel" target="_blank"><i class="fi-social-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/amber-weel-b227a561" target="_blank"><i class="fi-social-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="cell show-for-large large-3"></div>
</div>

{{ content | safe }}

</div>

<div class="footer text-center">
    Amber Weel <br>
    <a href="tel:+31 6 21305507"> +31 6 21305507</a> <br>
    <a href="mailto:AmberWeel@gmail.com">AmberWeel@gmail.com</a><br>
    KVK 12345689
</div>

{% include "components/script.njk" %}
</body>
</html>
